:root {
}


* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  padding: 0px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  background-color: var(--background-color);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}

.logo-icon {
  width: 24px;
  height: 24px;
  fill: #333333;
}




